@use '../../../../variables';
$ns: variables.$ns;

$block: '.#{$ns}fallback-tree-select-error';

#{$block} {
    margin-block-start: 4px;
    color: #e9033a;
    font-size: 13px;
    line-height: 16px;
}
