@use '../../../variables';
$ns: variables.$ns;

$block: '.#{$ns}list-container-view';

#{$block} {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    outline: none;

    &_fixed-height {
        height: var(--#{$ns}list-container-height, 300px);
    }

    &:not(#{$block}_fixed-height) {
        overflow: auto;
    }
}
