@use '../../../../variables';
$ns: variables.$ns;

$block: '.#{$ns}fallback-tree-select-popup';

#{$block} {
    --#{$ns}fallback-tree-select-popup-bg: #fff;
    --#{$ns}fallback-tree-select-popup-border: rgba(0, 0, 0, 0.1);
    --#{$ns}fallback-tree-select-popup-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    --#{$ns}fallback-tree-select-popup-z-index: 1000;

    box-sizing: border-box;
    z-index: var(--#{$ns}fallback-tree-select-popup-z-index);
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    max-height: 90vh;
    border: 1px solid var(--#{$ns}fallback-tree-select-popup-border);
    border-radius: 8px;
    background: var(--#{$ns}fallback-tree-select-popup-bg);
    box-shadow: var(--#{$ns}fallback-tree-select-popup-shadow);
}
